:root {
  --gruvbox-bg0: rgba(40, 40, 40, 1);
  --gruvbox-fg0: rgba(212, 190, 152, 1);
  --gruvbox-red: rgba(234, 105, 98, 1);
  --gruvbox-orange: rgba(231, 138, 78, 1);
  --gruvbox-yellow: rgba(216, 161, 67, 1);
  --gruvbox-green: rgba(169, 182, 101, 1);
  --gruvbox-aqua: rgba(143, 188, 139, 1);
  --gruvbox-blue: rgba(125, 174, 163, 1);
  --gruvbox-purple: rgba(211, 134, 155, 1);
  --gruvbox-gray: rgba(146, 131, 116, 1);
}
