@import url("colors/colors.css");
@import url("styles/leaf_inverse.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    all: unset;
    font-family: JetBrainsMono Nerd Font, Symbols Nerd Font, sans-serif;
    border-radius : 4px;
}

window#waybar {
    all: unset;
    background-color: inherit;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: @yellow;
    border-radius: 4px 0px 10px 0px;
    font-weight: bold;
    border: none;
    background: transparent;
}

#clock {
  background-color: @bg0;
  color: @green;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 6px;
  padding-left: 4px;
  padding-bottom: 2px;
}


#pulseaudio {
  background-color: @bg0;
  color: @purple;
  border-radius: inherit;
  margin-right: 6px;
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 9px;
  min-width: 40px;
}

#memory {
  background-color: @bg0;
  margin-left: 6px;
  margin-top: 4px;
  padding: 4px 10px;
  color: @bgr;
}

#tray {
  background-color: @bg1;
  color: @purple;
  margin-left: 6px;
  border-radius: inherit;
  margin-top: 5px;
  padding-right: 2px;
  padding-bottom: 1px;
}

#network {
  background-color: @bg1;
  margin-left: 10px;
  color: @green;
  padding: 4px 2px;
  margin-top: 5px;
  border-radius: inherit;
}

#power-profiles-daemon {
  background-color: @bg0;
  color: @purple;
  border-radius: 4px;
  margin-right: 6px;
  margin-top: 5px;
  padding-right: 2px;
}


#custom-swaync {
  border-radius: 4px; /* Radius dimension, Top-left, bottom-left, bottom-right, top-right */
  padding:4px 4px 2px 4px;    /* PADDING dimension TOP, RIGHT, BOTTOM, LEFT. Think of it as a clockwise line */
  margin-top: 5px;
  background-color: @bg1;

}



#workspaces {
    background-color: @bg0;
    min-width: 0px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 2px;
    border: 1px solid;
}

/* Any changes to workspace button will only reflect when that workspace is not active (i.e you aren't in that workspace).  */

#workspaces button {
    all: initial;
    padding: 0px 10px;
    color: @purple;
    opacity: 0.6;
    margin-top: 0px;
    padding: 0px 10px; /* The padding dimension is height : width */
    font-weight: 900;
    min-width: 0px;
    font-size: 14px;

}

/* Workspace button empty.active is when you open a new workspace but it doesn't have any window or application in it.*/

#workspaces button.empty.active {
  opacity: 1;
  border-radius: 2px;
  padding: 0px 10px 0px 10px;
  background-color: alpha(@green, 0.8);
  color: @bgg;
  font-size: 14px;
}

/* Button.active is for active workspaces with an application in it. Changes to this also applies when you focus that workspace*/

#workspaces button.active {
    color: @blue;
    border-radius: 0px;
    font-size: 14px;
    opacity: 1;
    padding: 0px 10px;
    margin: 0px;
}

tooltip {
  background-color: @orange;
  border: 1px solid @blue;
  border-radius: 8px;
}
tooltip label {
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
    border-radius: 200px;
}


