* {
    background:     #0f1512;
    foreground:     #ffffff;

    background-alt: #2b322f;
    border-color:   #e8f2ec;

    selected:       #b5ffe5;
    selected-text:  #000000;

    active:         #dbf6ea;
    active-text:    #000000;

    urgent:         #ffece9;
    urgent-text:    #000000;
}
