/* ~/.config/matugen/templates/colors.css */

:root {
  --primary: #ffece6;
  --on-primary: #000000;
  --primary-container: #ffb090;
  
  --background: #1a110e;
  --on-background: #f1dfd9;
  
  --surface: #1a110e;
  --on-surface: #ffffff;
  --surface-variant: #53433e;
  
  --outline: #ffece6;
}

