
#clock {
  background-color: @surface_container;
  color: @secondary;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 6px;
  padding-left: 4px;
  padding-bottom: 2px;
}

<<<<<<< HEAD
#custom-gpu {
=======
#temperature {
>>>>>>> d71483aefb697760a519ab4e7588fa31ba6d6520
  background-color: @surface_container;
  color: @secondary;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 6px;
  padding-left: 4px;
  padding-bottom: 1px;
  padding-right: 4px;
}

<<<<<<< HEAD
#custom-gpu.critical {
  background-color: @surface_container;
  color: @error;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 6px;
  padding-left: 4px;
  padding-bottom: 1px;
  padding-right: 4px;
}

#custom-cpu {
  background-color: @surface_container;
  color: @secondary;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 6px;
  padding-bottom: 1px;
  padding-right: 6px;
}

#custom-cpu.critical {
=======
#temperature.critical {
>>>>>>> d71483aefb697760a519ab4e7588fa31ba6d6520
  background-color: @surface_container;
  color: @error;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 6px;
  padding-left: 4px;
  padding-bottom: 1px;
  padding-right: 4px;
}

#pulseaudio {
  background-color: @surface_container;
  color: @tertiary;
  border-radius: inherit;
  margin-right: 6px;
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 9px;
  min-width: 40px;
}

<<<<<<< HEAD

=======
>>>>>>> d71483aefb697760a519ab4e7588fa31ba6d6520
#memory {
  background-color: @surface_container;
  margin-left: 6px;
  margin-top: 4px;
  padding: 4px 10px;
  color: @secondary;
}

#tray {
  background-color: @surface_container;
  color: @secondary;
  margin-left: 6px;
  border-radius: inherit;
  margin-top: 5px;
  padding-right: 2px;
  padding-bottom: 1px;
}

#network {
  background-color: @surface_container;
  margin-left: 10px;
  color: @secondary;
  padding: 4px 2px;
  margin-top: 5px;
  border-radius: inherit;
}

#power-profiles-daemon {
  background-color: @surface_container;
  color: @secondary;
  border-radius: 4px;
  margin-right: 6px;
  margin-top: 5px;
<<<<<<< HEAD
  padding-right: 3px;
  padding-left: 3px;
=======
  padding-right: 2px;
>>>>>>> d71483aefb697760a519ab4e7588fa31ba6d6520
}


#custom-swaync {
  border-radius: 4px; /* Radius dimension, Top-left, bottom-left, bottom-right, top-right */
  padding:4px 4px 2px 4px;    /* PADDING dimension TOP, RIGHT, BOTTOM, LEFT. Think of it as a clockwise line */
  margin-top: 5px;
  background-color: @surface_container;
  color: @secondary;
}

